{% extends 'tasks/base.html' %}

{% block title %}{% if form.instance.pk %}Edit Task{% else %}Create Task{% endif %}{% endblock %}

{% block content %}
    <h1 class="my-4">{% if form.instance.pk %}Edit Task{% else %}Create Task{% endif %}</h1>

    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.due_date }}
        </div>
        <div class="form-check mb-3">
            {{ form.complited }} {{ form.complited.label_tag }}
        </div>
        <div class="form-check mb-3">
            {{ form.task_day }} {{ form.task_day.label_tag }}
        </div>
        <div class="form-check mb-3">
            {{ form.task_week }} {{ form.task_week.label_tag }}
        </div>
        <div class="form-check mb-3">
            {{ form.task_month }} {{ form.task_month.label_tag }}
        </div>
        <div class="form-check mb-3">
            {{ form.task_year }} {{ form.task_year.label_tag }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'Task_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
